@import 'styles/colors.scss';

.containerApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.boxForm {
  background: #fff;
  display: flex;
  flex-flow: column;
  width: 500px;
  align-items: center;

  h3 {
    color: $titleColor;
  }

  h4 {
    margin: 10px 0 50px 0;
  }

  form {
    width: 350px;
  }

  select {
    height: 39px;
    border: 1px solid #b6b9cf;
    box-shadow: inset 0 5px 6px -6px #b6b9cf;
  }
}

.width350 {
  width: 350px;
}

.boxHandle {
  display: flex;
  justify-content: space-between;
}

.error {
  color: $invalidColor;
  font-weight: 400;
  margin-bottom: 20px;
}

.productBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;

  input {
    padding: 12px 0;
    border: 1px solid #b6b9cf;
    box-shadow: inset 0 5px 6px -6px #b6b9cf;
  }
}

.shoppingList {
  width: 100%;
  padding: 15px;
  color: $titleColor;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
      border: 1px solid #b6b9cf;
      text-align: left;
      padding: 8px;
      font-weight: 300;
  }

  tr:nth-child(even) {
      background-color: $default;
  }
}